__pycache__/
*.py[cod]
*$py.class
.Python
env/
.python-version
.env
venv/
ENV/
.ebextensions/*


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
